/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

header h1{
    display: inline-block;
    margin-top: 1.5%;
    color: #22202E;
    font-size: 25px;
    margin-left: 1.5%;
}

/**nav{
    padding-left: 360px;
    display: flex;
    gap: 50px;
}**/

header p{
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

header a{
    color: #726E8D;
    text-decoration: none;
    font-size: 20px;
}

header img{
    display: inline-block;
}

.im1{
    float: left;
    margin-top: 2%;
    margin-left: 2%;
}

.im2{
    float: right;
    margin-top: 2%;
    margin-right: 0.5%;
    margin-left: 0.3%;
}

.st{
    display: inline-block;
    text-align: center;
}

.st img{
    float: right;
    margin-left: 20px;
}

.fur{
    display: inline-block;
    background-color: #2A254B;
    color: #fff;
    width: 90%;
    text-align: left;
}

.fur h2{
    margin: 40px;
    margin-right: 650px;
    font-size: 30px;
}

.fur button{
    margin-left: 40px;
    padding: 15px 30px 15px 30px;
    background-color: #4e4d93b7;
    border: none;
    color: #fff;
    font-size: 18px;
}

.fur p{
    margin-left: 40px;
    margin-top: 270px;
    font-size: 20px;
}

.feat{
    display: inline-block;
    text-align: center;
}

.feat h2{
    margin-top: 40px;
    color: #2A254B;
    font-size: 25px;
    margin-bottom: 20px;
}

.f1{
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 20px;
    font-size: 21px;
    color:#2A254B;
}

.f2{
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 20px;
    font-size: 20.9px;
    color:#2A254B;
}

.f3{
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 20px;
    font-size: 20.9px;
    color:#2A254B;
}

.f4{
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 20px;
    font-size: 20.9px;
    color:#2A254B;
}

.ceramics{
    display: inline-block;
    width: 98%;
}

.ceramics h2{
    color: #2A254B;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.cer1{
    display: inline-block;
    width: 19%;
    text-align: left;
    margin: 35px;
    font-size: 21px;
    color:#2A254B;
}

.cer2{
    display: inline-block;
    width: 19%;
    text-align: left;
    margin: 35px;
    font-size: 21px;
    color:#2A254B;
}

.cer3{
    display: inline-block;
    width: 19%;
    text-align: left;
    margin: 35px;
    font-size: 21px;
    color:#2A254B;
}

.cer4{
    display: inline-block;
    width: 16%;
    text-align: left;
    margin: 35px;
    font-size: 21px;
    color:#2A254B;
}

.two{
    margin-left: 550px;
    background-color: #F9F9F9;
    color: #2A254B;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border: none;
}

.poppr{
    display: inline-block;
    width: 98%;
}

.poppr h2{
    color: #2A254B;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: left;
}

.pp1{
    display: inline-block;
    width: 49%;
    margin-left: 30px;
    text-align: left;
    color: #2A254B;
    font-size: 20px;
}

.pp2{
    display: inline-block;
    width: 24%;
    text-align: left;
    color: #2A254B;
    font-size: 20px;
}

.pp3{
    display: inline-block;
    width: 20%;
    text-align: left;
    color: #2A254B;
    font-size: 20px;
}

.text{
    text-align: center;
    color: #2A254B;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.text h4{
    font-size: 30px;
    margin-bottom: 5%;
}

.text p{
    font-size: 30px;
    margin-bottom: 10%;
}

.e{
    margin-left: -8%;
    font-size: 20px;
    padding: 15px 200px 15px 20px;
    border: none;
    color: #2A254B;
}

.em{
    font-size: 16px;
    padding: 15px 30px 15px 30px;
    background-color: #2A254B;
    color: #fff;
    border: none;
}

.fs{
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #2A254B;
}

.fs img{
    float: right;
    width: 50%;
    margin-left: 40px;
}

.fs h4{
    font-size: 25px;
    margin: 50px 20px;
    padding-right: 700px;
}

.fs p{
    font-size: 20px;
    margin: 50px 20px;
    padding-right: 750px;
}

.get{
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color:#fff;
    color: #2A254B;
    font-weight: 600;
    margin-top: 40px;
}

footer{
    background-color: #2A254B;
    color: #fff;
}

footer p{
    margin: 10px;
    font-size: 18px;
}

footer h5{
    font-size: 20px;
    margin: 10px;
}

.menu{
    display: inline-block;
    width: 15%;
    margin: 25px;
    margin-left: 5%;
}

.Categories{
    display: inline-block;
    width: 15%;
}

.Ourcompany{
    display: inline-block;
    width: 15%;
}

.form{
    float: right;
    margin-right: 5%;
    margin-top: 30px;
}

.form h5{
    font-size: 20px;
}

.lin{
    margin-left: 5%;
    width: 90%;
    height: 1px;
    background-color: #fff;
}

.e1{
    margin-left: 10px;
    font-size: 20px;
    padding: 15px 160px 15px 20px;
    border: none;
    background-color: #4E4D93;
    color: #fff;
}

.em1{
    font-size: 20px;
    padding: 15px 30px 15px 30px;
    background-color: #fff;
    color: #2A254B;
    border: none;
}

.cop{
    display: inline-block;
    margin-left: 5%;
    margin-top: 20px;
    font-size: 20px;
}
.icons{
    float: right;
    margin-top: 20px;
    margin-right: 5%;
}




/***{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

header h1{
    display: inline-block;
    margin-top: 1.5%;
    color: #22202E;
    font-size: 25px;
    margin-left: 1.5%;
}

/**nav{
    padding-left: 360px;
    display: flex;
    gap: 50px;
}**/
/**
header p{
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

header a{
    color: #726E8D;
    text-decoration: none;
    font-size: 20px;
}

header img{
    display: inline-block;
}

.im1{
    float: left;
    margin-top: 2%;
    margin-left: 2%;
}

.im2{
    float: right;
    margin-top: 2%;
    margin-right: 0.5%;
    margin-left: 0.3%;
}

.st{
    display: inline-block;
    text-align: center;
}

.st img{
    float: right;
    margin-left: 20px;
}

.fur{
    display: inline-block;
    background-color: #2A254B;
    color: #fff;
    width: 90%;
    text-align: left;
}

.fur h2{
    margin: 40px;
    margin-right: 650px;
    font-size: 30px;
}

.fur button{
    margin-left: 40px;
    padding: 15px 30px 15px 30px;
    background-color: #4e4d93b7;
    border: none;
    color: #fff;
    font-size: 18px;
}

.fur p{
    margin-left: 40px;
    margin-top: 270px;
    font-size: 20px;
}

.feat{
    display: inline-block;
    text-align: center;
}

.feat h2{
    margin-top: 40px;
    color: #2A254B;
    font-size: 25px;
    margin-bottom: 20px;
}

.f1{
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 20px;
    font-size: 21px;
    color:#2A254B;
}

.f2{
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 20px;
    font-size: 20.9px;
    color:#2A254B;
}

.f3{
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 20px;
    font-size: 20.9px;
    color:#2A254B;
}

.f4{
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 20px;
    font-size: 20.9px;
    color:#2A254B;
}

.ceramics{
    display: inline-block;
    width: 98%;
}

.ceramics h2{
    color: #2A254B;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.cer1{
    display: inline-block;
    width: 19%;
    text-align: left;
    margin: 35px;
    font-size: 21px;
    color:#2A254B;
}

.cer2{
    display: inline-block;
    width: 19%;
    text-align: left;
    margin: 35px;
    font-size: 21px;
    color:#2A254B;
}

.cer3{
    display: inline-block;
    width: 19%;
    text-align: left;
    margin: 35px;
    font-size: 21px;
    color:#2A254B;
}

.cer4{
    display: inline-block;
    width: 16%;
    text-align: left;
    margin: 35px;
    font-size: 21px;
    color:#2A254B;
}

.two{
    margin-left: 550px;
    background-color: #F9F9F9;
    color: #2A254B;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border: none;
}

.poppr{
    display: inline-block;
    width: 98%;
}

.poppr h2{
    color: #2A254B;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: left;
}

.pp1{
    display: inline-block;
    width: 49%;
    margin-left: 30px;
    text-align: left;
    color: #2A254B;
    font-size: 20px;
}

.pp2{
    display: inline-block;
    width: 24%;
    text-align: left;
    color: #2A254B;
    font-size: 20px;
}

.pp3{
    display: inline-block;
    width: 20%;
    text-align: left;
    color: #2A254B;
    font-size: 20px;
}

.text{
    text-align: center;
    color: #2A254B;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.text h4{
    font-size: 30px;
    margin-bottom: 5%;
}

.text p{
    font-size: 30px;
    margin-bottom: 10%;
}

.e{
    margin-left: -8%;
    font-size: 20px;
    padding: 15px 200px 15px 20px;
    border: none;
    color: #2A254B;
}

.em{
    font-size: 16px;
    padding: 15px 30px 15px 30px;
    background-color: #2A254B;
    color: #fff;
    border: none;
}

.fs{
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #2A254B;
}

.fs img{
    float: right;
    width: 50%;
    margin-left: 40px;
}

.fs h4{
    font-size: 25px;
    margin: 50px 20px;
    padding-right: 700px;
}

.fs p{
    font-size: 20px;
    margin: 50px 20px;
    padding-right: 750px;
}

.get{
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color:#fff;
    color: #2A254B;
    font-weight: 600;
    margin-top: 40px;
}

footer{
    background-color: #2A254B;
    color: #fff;
}

footer p{
    margin: 10px;
    font-size: 18px;
}

footer h5{
    font-size: 20px;
    margin: 10px;
}

.menu{
    display: inline-block;
    width: 15%;
    margin: 25px;
    margin-left: 5%;
}

.Categories{
    display: inline-block;
    width: 15%;
}

.Ourcompany{
    display: inline-block;
    width: 15%;
}

.form{
    float: right;
    margin-right: 5%;
    margin-top: 30px;
}

.form h5{
    font-size: 20px;
}

.lin{
    margin-left: 5%;
    width: 90%;
    height: 1px;
    background-color: #fff;
}

.e1{
    margin-left: 10px;
    font-size: 20px;
    padding: 15px 160px 15px 20px;
    border: none;
    background-color: #4E4D93;
    color: #fff;
}

.em1{
    font-size: 20px;
    padding: 15px 30px 15px 30px;
    background-color: #fff;
    color: #2A254B;
    border: none;
}

.cop{
    display: inline-block;
    margin-left: 5%;
    margin-top: 20px;
    font-size: 20px;
}
.icons{
    float: right;
    margin-top: 20px;
    margin-right: 5%;
}**/