*{
    margin: 0;
    padding: 0;
}

img{
    width: 200px;
    height: 200px;
}

.a1{
    float: right;
}

.a2{
    float: left;
}

.a3{
   float: right;
}

.a4{
    float: left;
}

.a5{
    float: right;
}

.a6{
    float: left;
}

h1{
    text-align: center;
}

.f1{
    border: 3px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
    position: relative;
    z-index: auto;
    background-color: rgb(160, 78, 78);
}

.f2{
    border: 3px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 1;
    left: 290px;
    top: 150px;
    background-color: rgb(255, 153, 0);
}

.f3{
    border: 3px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 1;
    left: 550px;
    top: 350px;
    background-color: rgb(123, 255, 0);
}

.f4{
    border: 3px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 1;
    left: 290px;
    top: 550px;
    background-color: rgb(0, 255, 115);
}

.f5{
    border: 3px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 1;
    top: 750px;
    background-color: rgb(0, 17, 255);
}

.f6{
    border: 3px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 1;
    left: 290px;
    top: 950px;
    background-color: rgb(195, 0, 255);
}